/*! CSS Used from: Embedded */
.gm-compass-turn {
	cursor: pointer;
	overflow: hidden;
	width: 14px;
	height: 48px;
	position: absolute;
	top: 0;
	left: 0;
	background-color: Transparent;
	border: none;
	outline: none;
	padding: 0;
	border-width: 0;
}

.gm-compass-turn-opposite {
	-ms-transform: scaleX(-1);
	-ms-transform-origin: 24px 0;
	-moz-transform: scaleX(-1);
	-moz-transform-origin: 24px 0;
	-webkit-transform: scaleX(-1);
	-webkit-transform-origin: 24px 0;
	transform: scaleX(-1);
	transform-origin: 24px 0;
}

.gm-compass:hover .gm-compass-tooltip-text,
.gm-compass:hover .gm-compass-arrow-right {
	opacity: 1;
	-webkit-transition-delay: 1.5s;
	-moz-transition-delay: 1.5s;
	transition-delay: 1.5s;
}

.gm-compass-tooltip-text {
	opacity: 0;
	background-color: #222;
	width: 112px;
	height: 23px;
	line-height: 23px;
	right: 58px;
	top: 7px;
	position: absolute;
	border: 1px solid #ccc;
	text-align: center;
	color: #ccc;
	font-family: Roboto, Arial;
	font-size: 12px;
	font-weight: bold;
}

.gm-compass-arrow-right {
	opacity: 0;
	width: 0;
	height: 0;
	border-top: 7px solid transparent;
	border-bottom: 7px solid transparent;
	top: 16px;
	position: absolute;
}

.gm-compass-arrow-right-outer {
	right: 52px;
	border-left: 7px solid #ccc;
}

.gm-compass-arrow-right-inner {
	right: 53px;
	border-left: 7px solid #222;
}


/*! CSS Used from: Embedded */

.gm-compass {
	position: relative;
	width: 48px;
	height: 48px;
}

.gm-compass-needle {
	cursor: pointer;
	overflow: hidden;
	width: 20px;
	height: 48px;
	position: absolute;
	top: 0;
	left: 14px;
	background-color: Transparent;
	border: none;
	outline: none;
	padding: 0;
	border-width: 0;
}


/*! CSS Used from: Embedded */

.gm-iv-container {
	width: 27px;
	margin-top: 10px;
	border-right: 1px solid #666;
	background-color: #222;
	opacity: .8;
	font-family: Roboto, Arial;
}

.gm-iv-small-container {
	height: 56px;
}

.gm-iv-close {
	width: 27px;
	height: 27px;
	margin-top: 13px;
	outline-color: #000;
	display: inline-block;
}

.gm-iv-back {
	display: inline-block;
	height: 15px;
	width: 15px;
	padding: 6px;
}

.gm-iv-back-icon {
	cursor: pointer;
	overflow: hidden;
	width: 15px;
	height: 15px;
	position: absolute;
	background-position: -3px -70px;
}

.gm-iv-back-icon:hover {
	background-position: -40px -70px;
}

.gm-iv-back-icon-background {
	background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/sv9.png);
	background-size: 164px 175px;
}

@media (-webkit-min-device-pixel-ratio:1.2),
(min-resolution:1.2dppx),
(min-resolution:116dpi) {
	.gm-iv-back-icon-background {
		background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/sv9_hdpi.png);
	}
}


/*! CSS Used from: Embedded */

.gm-iv-address {
	background-color: #222;
	opacity: .8;
	font-family: Roboto, Arial;
	outline-color: #000;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	display: inline-block;
	padding: 6px 8px;
	margin-top: 10px;
	height: 56px;
	box-sizing: border-box;
}

.gm-iv-marker-icon {
	overflow: hidden;
	width: 13px;
	height: 21px;
	position: absolute;
	background-position: -17px -50px;
}

.gm-iv-marker-icon:hover {
	background-position: -1px -50px;
}

.gm-iv-timeline-icon {
	background-position: -37px -50px;
	overflow: hidden;
	width: 26px;
	height: 15px;
	position: absolute;
}

.gm-iv-timeline-wrapper:hover .gm-iv-timeline-icon {
	background-position: -65px -50px;
}


/*! CSS Used from: Embedded */

.gm-iv-address-description {
	display: inline-block;
	min-width: 137px;
	max-width: 340px;
	vertical-align: top;
	position: relative;
	padding-right: 30px;
	box-sizing: border-box;
}

.gm-iv-short-address-description {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-bottom: 2px;
}

.gm-iv-long-address-description {
	color: #ccc;
	font-weight: normal;
	font-size: 11px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	min-width: 70px;
}

.gm-iv-vertical-separator {
	display: inline-block;
	height: 56px;
	position: absolute;
	right: 28px;
	top: 10px;
	width: 1px;
	background: linear-gradient(top, #404040, #666, #404040);
}

.gm-iv-marker {
	display: inline-block;
	height: 25px;
	width: 13px;
	right: 8px;
	position: absolute;
	top: 28px;
}

.gm-iv-marker-icon-background {
	background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/sv9.png);
	background-size: 164px 175px;
}

.gm-iv-horizontal-separator {
	height: 1px;
	margin-bottom: 6px;
	margin-left: -8px;
	margin-right: -8px;
	background: linear-gradient(left, #404040, #666, #404040);
}

.gm-iv-address-link {
	position: absolute;
	top: 48px;
}

.gm-iv-address-custom p {
	color: #777;
	text-decoration: none;
	font-size: 11px;
}

.gm-iv-address-link a {
	color: #5c8dcc;
	text-decoration: none;
	font-size: 11px;
}

.gm-iv-address-link a:hover {
	text-decoration: underline;
}

.gm-iv-profile-link {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.gm-iv-profile-url a {
	text-decoration: none;
}

.gm-iv-timeline {
	min-width: 116px;
	max-width: 326px;
	color: #ccc;
	font-weight: normal;
	font-size: 11px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-top: 19px;
	margin-right: -8px;
	margin-left: -8px;
	padding-right: 8px;
	padding-left: 8px;
	box-sizing: border-box;
}

.gm-iv-timeline-description {
	display: inline-block;
	margin-top: 2px;
	vertical-align: top;
}

.gm-iv-timeline-description-details {
	float: left;
}

.gm-iv-timeline-description-separator {
	padding: 0 2px;
	float: left;
}

.gm-iv-timeline-wrapper:hover .gm-iv-timeline-description {
	color: white;
}

.gm-iv-timeline-icon-wrapper {
	display: inline-block;
	height: 15px;
	width: 26px;
}

.gm-iv-timeline-icon-background {
	background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/sv9.png);
	background-size: 164px 175px;
}

@media (-webkit-min-device-pixel-ratio:1.2),
(min-resolution:1.2dppx),
(min-resolution:116dpi) {
	.gm-iv-timeline-icon-background,
	.gm-iv-marker-icon-background {
		background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/sv9_hdpi.png);
	}
}


/*! CSS Used from: Embedded */

.gm-control-active>img {
	box-sizing: content-box;
	display: none;
	left: 50%;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

.gm-control-active>img:nth-child(1) {
	display: block;
}

.gm-control-active:hover>img:nth-child(1),
.gm-control-active:active>img:nth-child(1) {
	display: none;
}

.gm-control-active:hover>img:nth-child(2),
.gm-control-active:active>img:nth-child(3) {
	display: block;
}


/*! CSS Used from: Embedded */

.gm-ui-hover-effect {
	opacity: .6;
}

.gm-ui-hover-effect:hover {
	opacity: 1;
}


/*! CSS Used from: Embedded */

.gm-style .gm-style-cc span,
.gm-style .gm-style-cc a {
	font-size: 10px;
	box-sizing: border-box;
}


/*! CSS Used from: Embedded */

@media print {
	.gm-style .gmnoprint,
	.gmnoprint {
		display: none;
	}
}

@media screen {
	.gm-style .gmnoscreen,
	.gmnoscreen {
		display: none;
	}
}


/*! CSS Used from: Embedded */

.gm-style-pbc {
	transition: opacity ease-in-out;
	background-color: rgba(0, 0, 0, 0.45);
	text-align: center;
}

.gm-style-pbt {
	font-size: 22px;
	color: white;
	font-family: Roboto, Arial, sans-serif;
	position: relative;
	margin: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}


/*! CSS Used from: Embedded */

.gm-style img {
	max-width: none;
}

.gm-style {
	font: 400 11px Roboto, Arial, sans-serif;
	text-decoration: none;
}


/*! CSS Used from: https://preview.yourhomehero.co.uk/wp-content/plugins/formidable/css/formidableforms.css?ver=5121504 ; media=all */

@media all {
	.frm_hidden {
		display: none;
	}
	form input.frm_verify {
		display: none!important;
	}
	.with_frm_style fieldset {
		min-width: 0;
	}
	.with_frm_style .frm_form_fields {
		opacity: 1;
		transition: opacity 0.1s linear;
	}
	.with_frm_style .frm_primary_label {
		max-width: 100%;
	}
	.with_frm_style .frm_top_container .frm_primary_label {
		display: block;
		float: none;
		width: auto;
	}
	.with_frm_style .frm_none_container .frm_primary_label,
	.frm_none_container .frm_primary_label {
		display: none;
	}
	.with_frm_style textarea {
		height: auto;
	}
	.with_frm_style .frm_submit {
		clear: both;
	}
	.with_frm_style .frm_submit button {
		-webkit-appearance: none;
		cursor: pointer;
	}
	.frm_forms.frm_style_formidable-style.with_frm_style {
		max-width: 100%;
		direction: ltr;
		margin: 0 auto;
	}
	.frm_style_formidable-style.with_frm_style,
	.frm_style_formidable-style.with_frm_style form {
		text-align: left;
	}
	.frm_style_formidable-style.with_frm_style .frm_form_fields>fieldset {
		border-width: 0px;
		border-style: solid;
		border-color: #000000;
		margin: 0;
		padding: 0 0 15px 0;
		background-color: transparent;
		font-family: inherit;
	}
	.frm_style_formidable-style.with_frm_style legend+h3,
	.frm_style_formidable-style.with_frm_style h3.frm_form_title {
		font-size: 36px;
		color: #000000;
		font-family: inherit;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.frm_style_formidable-style.with_frm_style .frm_primary_label {
		font-family: inherit;
		font-size: 14px;
		color: #444444;
		font-weight: bold;
		text-align: left;
		margin: 0;
		padding: 0 0 3px 0;
		width: auto;
		display: block;
	}
	.frm_style_formidable-style.with_frm_style .form-field {
		margin-bottom: 12px;
	}
	.frm_style_formidable-style.with_frm_style .frm_none_container .frm_primary_label {
		display: none;
	}
	.frm_style_formidable-style.with_frm_style .frm_required {
		color: #B94A48;
		font-weight: bold;
	}
	.frm_style_formidable-style.with_frm_style input[type=text],
	.frm_style_formidable-style.with_frm_style input[type=email],
	.frm_style_formidable-style.with_frm_style input[type=tel],
	.frm_style_formidable-style.with_frm_style textarea {
		font-family: inherit;
		font-size: 26px;
		margin-bottom: 0;
	}
	.frm_style_formidable-style.with_frm_style textarea {
		vertical-align: top;
	}
	.frm_style_formidable-style.with_frm_style input[type=text],
	.frm_style_formidable-style.with_frm_style input[type=email],
	.frm_style_formidable-style.with_frm_style input[type=tel],
	.frm_style_formidable-style.with_frm_style textarea {
		color: #555555;
		background-color: #ffffff;
		border-color: #cccccc;
		border-width: 1px;
		border-style: solid;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		width: 100%;
		max-width: 100%;
		font-size: 26px;
		padding: 20px 32px 18px 32px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		outline: none;
		font-weight: 300;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	}
	.frm_style_formidable-style.with_frm_style input[type=checkbox] {
		border-color: #cccccc;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	}
	.frm_style_formidable-style.with_frm_style input[type=text],
	.frm_style_formidable-style.with_frm_style input[type=email],
	.frm_style_formidable-style.with_frm_style input[type=tel] {
		height: auto;
		line-height: 1.3;
	}
	.frm_style_formidable-style.with_frm_style input::placeholder,
	.frm_style_formidable-style.with_frm_style textarea::placeholder {
		color: #A1A1A1;
	}
	.frm_style_formidable-style.with_frm_style input::-webkit-input-placeholder,
	.frm_style_formidable-style.with_frm_style textarea::-webkit-input-placeholder {
		color: #A1A1A1;
	}
	.frm_style_formidable-style.with_frm_style input::-moz-placeholder,
	.frm_style_formidable-style.with_frm_style textarea::-moz-placeholder {
		color: #A1A1A1;
	}
	.frm_style_formidable-style.with_frm_style input:-ms-input-placeholder {
		color: #A1A1A1;
	}
	.frm_style_formidable-style.with_frm_style input:-moz-placeholder,
	.frm_style_formidable-style.with_frm_style textarea:-moz-placeholder {
		color: #A1A1A1;
	}
	.frm_style_formidable-style.with_frm_style .form-field input:not([type=file]):focus,
	.frm_style_formidable-style.with_frm_style textarea:focus {
		background-color: #ffffff;
		border-color: #66afe9;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
	}
	.frm_style_formidable-style.with_frm_style .frm_submit button {
		width: auto;
		font-family: inherit;
		font-size: 20px;
		height: auto;
		line-height: normal;
		text-align: center;
		background: #92b713;
		border-width: 0;
		border-color: #cccccc;
		border-style: solid;
		color: #ffffff;
		cursor: pointer;
		font-weight: 800;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		border-radius: 0;
		text-shadow: none;
		padding: 18px 44px;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-ms-box-sizing: border-box;
		margin: 10px;
		margin-left: 0;
		margin-right: 0;
		vertical-align: middle;
	}
	.frm_style_formidable-style.with_frm_style .frm_submit button:hover {
		background: #353535;
		border-color: #cccccc;
		color: #ffffff;
	}
	.frm_style_formidable-style.with_frm_style .frm_submit button:focus,
	.frm_style_formidable-style.with_frm_style .frm_submit button:active {
		background: #5e5e5e;
		border-color: #cccccc;
		color: #ffffff;
	}
	.frm_style_formidable-style.with_frm_style .frm_checkbox {
		display: block;
	}
	.frm_style_formidable-style.with_frm_style .vertical_radio .frm_checkbox {
		display: block;
	}
	.frm_style_formidable-style.with_frm_style .frm_checkbox label {
		font-family: inherit;
		font-size: 13px;
		color: #444444;
		font-weight: normal;
	}
	.frm_style_formidable-style.with_frm_style .frm_checkbox input[type=checkbox] {
		font-size: 13px;
		position: static;
	}
	.frm_style_formidable-style.with_frm_style .frm_form_field :invalid {
		color: #444444;
		background-color: #ffffff;
		border-color: #B94A48;
		border-width: 1px;
		border-style: solid;
	}
	.vertical_radio .frm_checkbox {
		display: block;
	}
	.with_frm_style .frm_checkbox label {
		display: inline;
		white-space: normal;
	}
	.with_frm_style .vertical_radio .frm_checkbox label {
		display: block;
		padding-left: 20px;
		text-indent: -20px;
	}
	.with_frm_style .frm_checkbox input[type=checkbox] {
		-webkit-appearance: checkbox;
		border-radius: 0;
	}
	.with_frm_style .frm_checkbox input[type=checkbox] {
		flex: none;
		display: inline-block;
		margin: 4px 5px 0 0;
		width: auto;
		border: none;
		vertical-align: baseline;
		position: initial;
	}
	.with_frm_style :invalid {
		box-shadow: none;
	}
	.frm_screen_reader {
		border: 0;
		clip: rect(1px, 1px, 1px, 1px);
		-webkit-clip-path: inset(50%);
		clip-path: inset(50%);
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		word-wrap: normal!important;
	}
	.frm_screen_reader.frm_hidden {
		display: initial;
	}
	.with_frm_style .frm_form_field {
		clear: both;
	}
	.frm_form_fields .frm_fields_container {
		display: grid;
		grid-template-columns: repeat(12, 6.5%);
		grid-auto-rows: max-content;
		grid-gap: 0 2%;
	}
	.frm_fields_container .frm_form_field,
	.frm_fields_container>* {
		grid-column: span 12 / span 12;
	}
	@media only screen and (max-width: 600px) {
		.frm_fields_container>.frm_submit,
		.frm_fields_container>.frm_form_field {
			grid-column: 1 / span 12!important;
		}
	}
	.frm_form_field .frm_checkbox {
		margin-top: 0;
		margin-bottom: 0;
	}
	@media only screen and (max-width: 500px) {
		.with_frm_style .g-recaptcha>div>div {
			width: inherit!important;
			display: block;
			overflow: hidden;
			max-width: 302px;
			border-right: 1px solid #d3d3d3;
			border-radius: 4px;
			box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, .08);
			-moz-box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, .08);
		}
		.with_frm_style .g-recaptcha iframe {
			width: 100%;
		}
	}
	.with_frm_style .frm_form_field {
		clear: both;
	}
	.frm_form_field {
		width: auto;
	}
	.frm_form_fields .frm_fields_container {
		display: block;
	}
	.frm_style_formidable-style.with_frm_style label.frm_primary_label {
		display: none;
	}
	.with_frm_style .frm_submit {
		text-align: right;
	}
	.frm_style_formidable-style.with_frm_style .frm_checkbox label {
		color: inherit;
	}
}


/*! CSS Used from: https://preview.yourhomehero.co.uk/wp-content/plugins/add-to-any/addtoany.min.css?ver=1.15 ; media=all */

@media all {
	.addtoany_list {
		display: inline;
		line-height: 16px;
	}
	.addtoany_list a {
		border: 0;
		box-shadow: none;
		display: inline-block;
		font-size: 16px;
		padding: 0 4px;
		vertical-align: middle;
	}
	.addtoany_list a span {
		display: inline-block;
		float: none;
	}
	.addtoany_list.a2a_kit_size_32 a {
		font-size: 32px;
	}
	.addtoany_list.a2a_kit_size_32 a:not(.addtoany_special_service)>span {
		height: 32px;
		line-height: 32px;
		width: 32px;
	}
	.addtoany_list a:not(.addtoany_special_service)>span {
		border-radius: 4px;
		display: inline-block;
		opacity: 1;
	}
	.addtoany_list a:hover {
		border: 0;
		box-shadow: none;
	}
	.addtoany_list a:hover span {
		opacity: .7;
	}
}


/*! CSS Used from: Embedded */

.a2a_svg {
	border-radius: 0!important;
	width: 44px!important;
	line-height: 44px!important;
	height: 44px!important;
	margin-left: 6px!important;
	color: red;
}

.a2a_svg svg {
	top: 9px!important;
	width: 60%!important;
	height: 60%!important;
}


/*! CSS Used from: https://preview.yourhomehero.co.uk/wp-content/plugins/bb-plugin/css/jquery.magnificpopup.css?ver=2.3.2.5 ; media=all */

@media all {
	button::-moz-focus-inner {
		padding: 0;
		border: 0;
	}
}


/*! CSS Used from: https://preview.yourhomehero.co.uk/wp-content/themes/bb-theme/css/bootstrap.min.css?ver=1.7.6.2 ; media=all */

@media all {
	canvas {
		display: inline-block;
		vertical-align: baseline;
	}
	a {
		background-color: transparent;
	}
	a:active,
	a:hover {
		outline: 0;
	}
	h1 {
		font-size: 2em;
		margin: .67em 0;
	}
	img {
		border: 0;
	}
	svg:not(:root) {
		overflow: hidden;
	}
	button,
	input,
	textarea {
		color: inherit;
		font: inherit;
		margin: 0;
	}
	button {
		overflow: visible;
	}
	button {
		text-transform: none;
	}
	button {
		-webkit-appearance: button;
		cursor: pointer;
	}
	button::-moz-focus-inner,
	input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	input {
		line-height: normal;
	}
	input[type=checkbox] {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0;
	}
	fieldset {
		border: 1px solid silver;
		margin: 0 2px;
		padding: .35em .625em .75em;
	}
	legend {
		border: 0;
		padding: 0;
	}
	textarea {
		overflow: auto;
	}
	/*! CSS Used from: https://preview.yourhomehero.co.uk/wp-content/themes/bb-theme-child/bb-modules/bb-modules.css?ver=5.4.2 ; media=all */
	@media all {
		.frm_style_formidable-style.with_frm_style .frm_submit button {
			font-weight: 700;
		}
		@media (max-width: 991px) {
			.frm_style_formidable-style.with_frm_style h3.frm_form_title {
				font-size: 28px;
			}
			.frm_style_formidable-style.with_frm_style input[type=text],
			.frm_style_formidable-style.with_frm_style input[type=email],
			.frm_style_formidable-style.with_frm_style textarea {
				font-size: 16px;
				padding: 17px 27px 15px 18px;
			}
			.frm_style_formidable-style.with_frm_style .frm_submit button {
				padding: 15px 34px;
				font-size: 17px;
			}
		}
	}
	/*! CSS Used from: https://preview.yourhomehero.co.uk/wp-content/themes/bb-theme-child/custom.css?ver=5.4.2 ; media=all */
	@media all {
		
		/* a.btn, */
		/* button { */
			/* font-weight: 900; */
			/* line-height: 1; */
			/* padding: 23px 33px; */
			/* border: none; */
			/* -webkit-border-radius: 4px; */
			/* border-radius: 4px; */
			/* display: inline-block; */
			/* background: #bfbfbf; */
			/* top: 0; */
			/* position: static; */
			/* vertical-align: middle; */
		/* } */
		/* a.btn, */
		/* button { */
			/* padding: 17px 33px; */
		/* } */
		/* button { */
			/* background: #ec4d49; */
		/* } */
		/* a.btn:hover, */
		/* button:hover, */
		/* button:active, */
		/* button:focus { */
			/* background: #3a403f; */
			/* border: none; */
			/* top: 0; */
			/* position: static; */
		/* } */
		/* input[type="text"], */
		/* input[type="email"] { */
			/* line-height: 1; */
			/* color: #3c403f; */
			/* padding: 12px 20px; */
			/* background: #fff; */
			/* border: 1px solid #bfbfbf; */
			/* -webkit-border-radius: 4px; */
			/* border-radius: 4px; */
			/* display: inline-block; */
			/* position: static; */
		/* } */
		.property-further-info-content p {
			font-size: 18px;
		}
		.property-further-details+p {
			font-size: 24px;
		}
		.property-further-details+p {
			color: #000;
			margin-bottom: 30px;
			line-height: 1.2;
		}
		.clearboth {
			clear: both;
			line-height: 0;
			height: 0;
		}
		a:hover {
			text-decoration: none;
		}
		.property-further-details span {
			margin-right: 60px;
		}
		.gallery-slider {
			float: left;
			width: 66%;
		}
		.property-info-column {
			float: right;
			width: 34%;
			padding-left: 20px;
		}
		.gallery-slider .gallery-slider-main {
			padding-bottom: 20px;
			text-align: center;
			position: relative;
		}
		.gallery-slider .gallery-slider-main .yhh-gallery-nav-left,
		.gallery-slider .gallery-slider-main .yhh-gallery-nav-right {
			opacity: 0;
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translate(0, -50%);
			color: #EC4D4A;
			font-size: 42px;
			cursor: pointer;
			transition: 0.3s ease-in-out;
		}
		.gallery-slider .gallery-slider-main .yhh-gallery-nav-right {
			left: auto;
			right: 10px;
		}
		.gallery-slider .gallery-slider-main:hover .yhh-gallery-nav-left,
		.gallery-slider .gallery-slider-main:hover .yhh-gallery-nav-right {
			opacity: 1;
		}
		.gallery-slider .gallery-slider-main img {
			width: 100%;
			height: auto;
		}
		.gallery-slider .gallery-slider-pager {
			width: 100%;
			height: 130px;
			white-space: nowrap;
			overflow-y: hidden;
			overflow-x: scroll;
		}
		.gallery-slider .gallery-slider-pager-inner .property_inner {
			display: inline-block;
			cursor: pointer;
			margin: 5px;
		}
		.gallery-slider .gallery-slider-pager-inner .property_inner img {
			height: 100px!important;
			width: auto!important;
		}
		.gallery-slider .gallery-slider-pager-inner .property_inner.active img {
			border: 3px solid #1c3d54;
		}
		.property-info-address {
			background: #EFEFEF;
			    padding: 30px 30px 12px;
			font-size: 18px;
			line-height: 1.4;
			margin-top: 20px;
		}
		
		.property-info-address .property-info-price{
			font-size: 18px;
    font-weight: 600;
		}
		.property-info-column .icon_area.property-controls {
			margin: 0;
			padding: 0 30px 30px;
			background: #efefef;
		}
		.property-info-column .icon_area.social-sharing {
			margin: 0;
			background: #EFEFEF;
			    padding: 12px 30px 30px;
			display: block;
			
		}
		.property-info-contact {
			background: #019BA7;
			color: #fff;
			padding: 30px;
			position: relative;
		}
		
		.property-info-contact a{
			color:#fff;
			text-decoration:underline;
			display: inline-block;
			padding: 12px 0 0;
		}
		

		@media (max-width:550px) {
			.property-info-contact:after {
				display: none;
			}
		}
		.property-info-contact h4 {
			color: #fff;
			
		}
		.property-info-contact span {
			font-size: 18px;
		}
		@media (max-width:450px) {
			.property-info-contact a {
				margin-left: 0;
				float: right;
				margin-top: 21px;
				font-size: 18px!important;
			}
		}
		.property-further-info {
			margin-top: 30px;
			margin-bottom: 44px;
		}
		.property-further-info-content {
			background: #efefef;
		}
		.property-further-info-content .property-further-details {
			margin-bottom: 30px;
			font-size: 26px;
		}
		
		.addtoany_list a{
			padding: 0!important;
		}
		
		.a2a_svg{
			margin-left:0!important;
			margin-right:8px!important;
		}

		.property-further-info-content>div {
			display: none;
			padding: 60px 60px 110px;
		}
		@media (max-width:767px) {
			.property-further-info-content>div {
				padding: 60px 20px 110px;
			}
		}
		label:hover {
			cursor: pointer;
		}
		input:checked+label {
			text-decoration: none;
			background: #efefef;
			border-top-left-radius: 4px;
			-webkit-border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			-webkit-border-top-right-radius: 4px;
		}
		@media screen and (min-width: 992px) and (max-width: 1460px) {
			.property-info-contact button {
				padding: 20px 20px;
				margin-left: 13px;
			}
		}
		@media (max-width: 1015px) {
			.icon_area {
				display: table!important;
			}
			.property-info-contact {
				width: 80%!important;
				margin: 0;
			}
		}
		@media (max-width: 550px) {
			.property-info-contact {
				width: 100%!important;
			}
		}
		@media screen and (max-width: 991px) {
			.property-controls a {
				width: 50px;
				height: 50px;
			}
			.property-controls .save.inner a {
				padding: 5px 5px 0;
			}
			.property-info-contact,
			.property-info-address {
				float: none;
				width: 100%;
			}
			.property-info-address {
				margin-bottom: 40px;
			}
		}
		@media screen and (max-width: 767px) {
			ul.tabs li {
				width: 49%!important;
				padding: 20px!important;
			}
		}
		ul.tabs {
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li {
			color: #222;
			display: inline-block;
			cursor: pointer;
			display: inline-block;
			padding: 36px 2.4vw 42px;
			text-align: center;
			background: #fff;
			font-size: 20px!important;
			margin-bottom: 0;
			text-decoration: underline;
			font-weight: 400;
		}
		ul.tabs li.current {
			background: #efefef;
			color: #222;
			text-decoration: none;
		}
		.tab-content {
			display: none;
			padding: 15px;
		}
		.tab-content.current {
			display: inherit;
		}
		.summary ul {
			list-style: none;
			margin-left: 0px;
			padding: 0px;
		
		}
		.icon_area {
			width: 100%;
			display: flex;
			margin: 24px 0 32px 0;
		}
		.icon_area.social-sharing {
			margin: 0;
		}
		.icon_area.social-sharing p {
			
			font-size: 20px;
			margin-bottom: 0;
			float: left;
		}
	
		
		
		.property-further-info-content li {
			list-style: none;
		}
		.features ul {
			padding-left: 0px;
		}
		div#property_map_canvas {
			height: 860px;
			width: 100%;
			position: absolute;
			top: 345px;
			left: 0;
			z-index: 1;
		}
		@media (max-width: 991px) {
			.property-further-details span {
				margin-right: 30px;
			}
			.property-further-details span:last-child {
				margin-right: 15px;
			}
		}
		.map-street-view-container .msv-buttons {
			margin-bottom: 20px;
		}
		.map-street-view-container .msv-button {
			line-height: 1.2em;
			border: 1px solid #dfdfe1;
			background: #f4f4f5;
			color: #262637;
			font-size: 15px;
			cursor: pointer;
			float: left;
			padding: 5px 10px;
		}
		.map-street-view-container .msv-button-map {
			border-radius: 2px 0 0 2px;
		}
		.map-street-view-container .msv-button-street {
			border-radius: 0 2px 2px 0;
		}
		.map-street-view-container .msv-button.active {
			border: 1px solid #262637;
			background: #262637;
			color: #fff;
		}
		.map-street-view-container .msv-container {
			display: none;
		}
		.map-street-view-container .msv-container.active {
			display: block;
		}
		.map-street-view-container .msv-container div#property_map_canvas {
			position: relative;
			top: auto;
		}
	}
	.a2a_svg {
		background-repeat: no-repeat;
		display: block;
		overflow: hidden;
		height: 32px;
		line-height: 32px;
		padding: 0;
		width: 32px;
	}
	.a2a_svg svg {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		border: none;
		display: block;
		left: 0;
		margin: 0 auto;
		overflow: hidden;
		padding: 0;
		position: relative;
		top: 0;
		width: auto;
		height: auto;
	}
	.a2a_kit .a2a_svg {
		background-repeat: repeat;
	}
	.a2a_kit a {
		cursor: pointer;
	}
	.a2a_label {
		position: absolute!important;
		clip: rect(1px 1px 1px 1px);
		clip: rect(1px, 1px, 1px, 1px);
		clip-path: polygon(0 0, 0 0, 0 0);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0);
		overflow: hidden;
		height: 1px;
		width: 1px;
	}
	.a2a_kit {
		-ms-touch-action: manipulation;
		touch-action: manipulation;
	}
	.widget-scene {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: absolute;
		z-index: 0;
		background-color: black;
	}
	.widget-scene-effects {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
	}
	.widget-scene-imagery-render {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		background-color: black;
	}
	.widget-scene-canvas {
		position: absolute;
		left: 0;
		top: 0;
		background-color: black;
	}
	@media print {
		.widget-scene {
			background: white;
			position: static;
			overflow: visible;
		}
		.widget-scene-canvas {
			display: block;
			background: white;
		}
		.widget-scene-imagery-render {
			position: relative;
			background: white;
			z-index: 4;
		}
		.widget-scene canvas {
			position: static!important;
		}
		.widget-scene-canvas {
			width: 100%!important;
			height: auto!important;
			-webkit-transform: none!important;
			transform: none!important;
		}
	}