/*
Theme Name:   	NvisageHouses
Theme URI:    	https://wp-property-hive.com/honeycomb-child
Author:         PropertyHive
Author URI:     https://wp-property-hive.com/
Description:  	Nvisage customised Honeycomb theme
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	honeycombchild
Tags:         	property, estate agent, estate agency
*/

/*
Turquoise color: #019BA7;
Dark grey + font color: #343434;
Pale grey color: #EBEBEB;
Pale blue color: #DAE7F7;
Footer text color: #9E9E9E;
Footer link color: #676767;
Button hover color: #515151
*/

/*
Honeycomb Theme Breakpoints
min-width:769px
max-width:568px
Arbitary Breakpoint  1090px
*/

/*
Featured Image in header - image size ratio should be 800:350
*/

/* Typography */
/* General */
/* Layout - General - header */
/* Layout - General - content */
/* Layout - General - footer */
/* Component - property search form */
/* Layout - template-homepage.php */
/* Layout - search results */
/* Layout - content-single-property.php */
/* Layout - login / register */

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
	box-sizing: border-box;
	max-width: 100%;
}
.row, .fl-row-content-wrap{ max-width: none; }
header.site-header.row { max-width: 100%; }

body{
	font-size:1em;
}

body, h1, h2, h3, h4, h5, h6, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,  p, li, ol, ul, input, button, a, blockquote, dl, dt, dd, table, td, tr, th{
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}

h1 {
    font-size: 2.4em;
}

.gamma, h3 {
    font-size: 1.4em;
	line-height:1.6;
}

/* General */
body.custom-background{
	background-color:#fff!important;/* fixes bug in theme customisation settings */
}

.clearboth{
	clear:both;
}

a:focus {
	outline:none;
}

ul.menu li.current-menu-item > a,
.site-header ul.menu li.current-menu-item > a {
    color: inherit;
}

.button, .property_actions a, button, input[type=button], input[type=reset], input[type=submit]{
	box-shadow:none;
}

/* Layout - General - header */
.ph-hero-image{
	height: 464px;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -100;
}

.site-header{
	border-bottom: 1px solid #ccc;
}

@media (min-width: 769px){
	.site-header {
		padding-top: 100px;
		padding-bottom: 10px;
	}

	.site-header .site-branding {
		width: 50%;
		margin:0;
		padding:10px 0 0 0;
	}

	.main-navigation {
		width: 50%;
		margin:0;
		padding: 0 0 0 0;
	}

	.main-navigation ul.menu>li>a,
	.main-navigation ul.nav-menu>li>a{
		padding: 4px ;
	}

	.main-navigation ul li:before{
		content:"|";
		display:inline;
	}

	.main-navigation ul li.white-border:before,
	.main-navigation ul li:first-child:before
	{
		content: none;
	}

	.main-navigation ul.nav-menu>li.ph-menu-btn a{
		border: 1px solid #343434;
		border-radius:35px;
		padding: 4px 23px;
		margin-left:12px
	}

	 .main-navigation ul li:first-child  a:before,
	.main-navigation ul.nav-menu>li.ph-menu-btn a:before{
		display:none;
	}

}

.site-header, .secondary-navigation ul ul, .main-navigation ul.menu > li.menu-item-has-children:after, .secondary-navigation ul.menu ul, .honeycomb-handheld-footer-bar, .honeycomb-handheld-footer-bar ul li > a, .honeycomb-handheld-footer-bar ul li.search .site-search, button.menu-toggle, button.menu-toggle:hover{
	background-color:transparent!important;
}

header.site-header p.site-description{
	display:none;
}

.main-navigation ul li a:hover, .main-navigation ul li:hover > a{
	color: #019BA7
}

/* Layout - General - content */
@media (min-width:769px){
	body > div#page{
		/*max-width: 67.141em; make outer wrapper same width as content so that featured image background displays centrally */
		/* max-width: 80em; */
		/* margin-left: auto; */
		/* margin-right: auto;  */
	}

	.col-full {
		max-width: 80em;
		padding: 0 40px;
	}

	.content-area, .widget-area {
		margin-bottom: 0;
	}
}

.site-content{
	padding-bottom:0;
}

/* Layout - General - footer */

footer .footer-widgets {
	text-align:center;
}

footer .widget_nav_menu.widget{
	margin-bottom:0;
}

footer ul.menu li{
	display:inline-block;
}

footer .widget_nav_menu ul li:before{
	display:none;
}

footer .widget_nav_menu ul li a{
	padding:6px 20px;
}

footer .site-info{
	display:none;
}

/* Component - property search form */

.property-search-form{
	background:#019ba791;
}

.property-search-form .control label {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}

/* Layout - template-homepage.php */
body.home {
	 background-color:#F3F1F1!important;
}

body.home > div#page{
	/* background-image: url('/wp-content/uploads/2020/06/featured-home.jpg'); */
	/* background-size:contain;  */
	/* background-repeat:no-repeat; */
}

@media (min-width:769px){
	body.home .main-navigation ul.nav-menu>li.ph-menu-btn a{
			border: 1px solid #fff;
	}
}

body.home .site-header{
	border-bottom: none;
}

body.home .hentry.type-page .entry-header{
	display:none;
}

@media (min-width:1091px){
	form.property-search-form{
		margin-top: 126px;
	}
}

@media (min-width:769px) and (max-width:1090px){
	form.property-search-form{
		margin-top: calc(43.75vw - 345px);
	}
}

/* Layout - search results */
body.post-type-archive-property  {
	 background-color:#F3F1F1!important;
}
.propertyhive-result-count {
    font-size: 22px;
}

ul.properties li.property{
	width:100%;
}

.propertyhive ul.properties li {
    padding-top:0;
    padding-bottom: 0;
    border-bottom: none;
    background: #fff;
    margin: 10px 0;
}

.propertyhive ul.properties li .details h3 {
    margin: 0 0 13px;
}

.propertyhive ul.properties li .details h3 a{
	font-weight:600;
	font-size: 24px;
	line-height: 33px;
}

.propertyhive ul.properties li .details .actions{
	display:none;
}

div.flag{
	font-size: 17px!important;
    font-weight: 600!important;
    padding: 9px 25px!important;
}

@media (min-width: 769px){
	ul.properties li.property .thumbnail{
		width: 45%;
		margin-right: 0;
		margin-bottom: 0;
	}

	ul.properties li.property .details {
		width: 55%;
		padding: 40px;
	}
}

/* Layout - content-single-property.php */

a.make-enquiry {
    background: #fff;
    color: #019ba7;
    font-weight: 700;
    text-decoration: none;
    line-height: 28px;
    font-size: 18px;
    padding: 10px 24px;
    margin-top: 15px;
}

/* Layout - login / register */
.ph-login-form{
	margin-right:40px;
}

.ph-reg-form,
.ph-login-form{
	float:left;
	width:calc(50% - 20px);
}

/* Homepage search form */
form.property-search-form {
	position: relative;
}
form.property-search-form .control-department {
	position: absolute;
	left: 0;
	bottom: 100%;
	padding-left: 0;
	width: 100%;
}
form.property-search-form .control-department label {
	background: #019ba791;
	width: 250px;
	padding: 20px;
	color: #000;
	float: left;
	margin-right: 1px;
	margin-bottom: 1px;
	cursor: pointer;
}
form.property-search-form .control-department label.selected{ background: #000; color: #FFF; }
form.property-search-form .control-department label input {
	display: none;
}


form.property-search-form {
	display: block;
	margin-top: 60px;
}
form.property-search-form .control {
	display: block;
	float: left;
	width: 20%;
}
form.property-search-form .control.control-address_keyword,
form.property-search-form .control.control-radius {
	width: 50%;
	margin-bottom: 10px;
}
form.property-search-form .control-department {
	width: 100%;
}
form.property-search-form input[type=submit] {
    margin-top: 22px;
    float: right;
}


/* *** PH GRID VIEW *** */
.propertyhive-views ul li.grid-view a:after {
	display: inline-block;
	font: normal normal normal 1em/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f00a";
}
/* SEARCH RESULTS CSS */
body.ph-grid-view.propertyhive ul.properties li { box-sizing:border-box; width:23.5%; margin-left:2%; border-bottom:0; clear:none !important; }
body.ph-grid-view.propertyhive ul.properties li:nth-child(4n+1) { clear:left !important; margin-left:0; }

@media (max-width:990px) {
	body.ph-grid-view.propertyhive ul.properties li.first { clear:none !important; }
	body.ph-grid-view.propertyhive ul.properties li { width:49%; margin-left:2%; }
	body.ph-grid-view.propertyhive ul.properties li:nth-child(4n+1) { clear:none !important; margin-left:2%; }
	body.ph-grid-view.propertyhive ul.properties li:nth-child(2n+1) { clear:left !important; margin-left:0; }
}

@media (max-width:590px) {
	body.ph-grid-view.propertyhive ul.properties li { clear:both !important; float:none !important; width:100% !important; margin-left:0 !important; }
}

/* CSS SPECIFIC TO CARD LAYOUT */
body.ph-grid-view.propertyhive ul.properties li .thumbnail { float:none; width:100%; }
body.ph-grid-view.propertyhive ul.properties li .thumbnail img { width:100%; }
body.ph-grid-view.propertyhive ul.properties li .details { float:none; width:100%; }

.site-branding {
    float: left;
}
@media (min-width: 769px) {
	.main-navigation {
	    float: right;
	}
	.main-navigation ul li {
	    position: relative;
	    display: inline-block;
	    text-align: left;
	}
}

html body .only-logged-in { display: none; }
html body .only-logged-out { display: inline-block; }
html body.logged-in .only-logged-in { display: inline-block; }
html body.logged-in .only-logged-out { display: none; }

.white-border {
  border: 1px solid #343434;
  border-radius: 35px;
  padding: 4px 23px;
  margin-left: 12px;
}
body.home .white-border {
  border: 1px solid #fff;
}

#site-navigation .menu {
	text-align: right;
}

#site-navigation ul.menu li a {
	color: #666666;
}

.property-search-form {
    padding: 1.618em 1.41575em;
    background: #019ba791;
    margin-bottom: 2.2906835em;
    display: block;
}
.property-search-form .control input[type=text], .property-search-form .control input[type=email], .property-search-form .control input[type=number], .property-search-form .control input[type=date], .property-search-form .control select {
    display: block;
    width: 100%;
    height: 44px;
    padding: 0 .3em;
}

button, input[type="button"], input[type="reset"], input[type="submit"], .button, .widget a.button, .property_actions li a {
	border: 0 #43454b;
	background: #43454b;
	color: #fff;
	cursor: pointer;
	padding: .6180469716em 1.41575em;
	text-decoration: none;
	font-weight: 600;
	text-shadow: none;
	display: inline-block;
	outline: 0;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	border-radius: 0;
	box-shadow: inset 0 -1px 0 rgba(0,0,0,.3);
	background-color: #019ba7;
	border-color: #019ba7;
	color: #ffffff;
	box-shadow: none;
}

#site-navigation ul.menu li a:hover, .main-navigation ul li:hover > a {
  color: #019BA7;
}

.site-footer {
  background-color: #343434;
  color: #9e9e9e;
  padding: 100px 0;
	text-align: center;
	margin-top: 30px;
}
.site-footer a {
	color: inherit;
}
.site-footer .menu a {
  padding: 6px 20px;
}
.propertyhive-form .control label:first-child {
    width: 33%;
}
.propertyhive-form .control label {
    display: inline-block;
    padding-right: 15px;
    padding-top: calc(.5rem - 1px * 2);
    padding-bottom: calc(.5rem - 1px * 2);
}
.propertyhive-form .control input[type=text], .propertyhive-form .control input[type=password], .propertyhive-form .control input[type=email], .propertyhive-form .control input[type=number], .propertyhive-form .control select, .propertyhive-form .control textarea {
    width: 66%;
}
.input-text, input[type=text], input[type=email], input[type=url], input[type=password], input[type=number], input[type=search], textarea {
    padding: .6180469716em;
    background-color: #f2f2f2;
    color: #43454b;
    outline: 0;
    border: 0;
    -webkit-appearance: none;
    border-radius: 2px;
    box-sizing: border-box;
    font-weight: 400;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.125);
}
h1, h2, h3, h4, h5, h6 {
    color: #019ba7;
}

html body .propertyhive-my-account .my-account-navigation,
html body .propertyhive-my-account .my-account-sections {
    float: none;
    width: 100%;
    margin-bottom: 1.41575em;
}
.propertyhive-my-account .my-account-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.propertyhive-my-account .my-account-navigation ul li {
    display: inline-block;
    margin-right: 2px;
}
.propertyhive-my-account .my-account-navigation ul li>a {
    display: block;
    padding: .6180469716em 1em;
    background: #EEE;
    color: #43454b;
}
.propertyhive-my-account .my-account-navigation ul li.active a {
    background: #343434;
}
.propertyhive-my-account .my-account-navigation ul li.active>a {
    color: #FFF;
}

@media (min-width: 769px) {
	.propertyhive-result-count, .propertyhive-views {
	    margin-right: 4.347826087%;
	    float: left;
	    width: 30.4347826087%;
	}
	.propertyhive-ordering {
	    width: 30.4347826087%;
	    float: right;
	    margin-right: 0;
	    margin-bottom: 1.41575em;
	}
}
.propertyhive-views ul li a {
    display: block;
    position: relative;
    padding: 0;
    height: 40px;
    width: 40px;
    font-size: 0;
}
.propertyhive-views ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.propertyhive-views ul li {
    display: inline-block;
    margin: 0 .2360828548em;
    background-color: #8d909a;
}
.propertyhive-views ul li.active, .propertyhive-views ul li:hover {
    background-color: #43454b;
}
.propertyhive-views ul li.list-view a:after {
    display: inline-block;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f0c9";
}

.propertyhive-views ul li.list-view a:after {
    display: inline-block;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    content: "\f0c9";
}
.propertyhive-views ul li.map-view a:after {
    display: inline-block;
    font: normal normal normal 1em/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f041";
}
.honeycomb-handheld-footer-bar ul li>a:before, .propertyhive-views ul li.list-view a:after {
    font: normal normal normal 1em/1 FontAwesome;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
}
.propertyhive-views ul li a:after {
    position: relative;
    top: 7px;
    right: 0;
    width: 100%;
    text-align: center;
    height: 100%;
    color: #fff;
    font-size: 24px!important;
}

html body.ph-grid-view.propertyhive ul.properties {
	display: flex;
	flex-wrap: wrap;
}


html body.ph-grid-view.propertyhive ul.properties li,
html body.ph-grid-view.propertyhive ul.properties li.first.last {
    box-sizing: border-box;
    width: 23.5%;
    border-bottom: 0;
    clear: none !important;
}

html body a.make-enquiry {
    background: #fff;
    color: #019ba7;
    font-weight: 700;
    text-decoration: none;
    line-height: 28px;
    font-size: 18px;
    padding: 10px 24px;
    margin-top: 15px;
}
